<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="/admin/gnuggis"><i class="fa fa-fw fa-edit"></i> Gnuggisar</a>
        </li>
        <li>
            <a href="/admin/users"><i class="fa fa-fw fa-users"></i> Användare</a>
        </li>
        <li>
            <a href="/admin/comments"><i class="fa fa-fw fa-comments"></i> Kommentarer</a>
        </li>
        <li>
            <a href="/admin/points"><i class="fa fa-fw fa-dollar"></i> Poäng</a>
        </li>
    </ul>
</div>
